<div class="page-content">
  <div class="form-v10-content">
      <form  (ngSubmit)="onSubmit()" class="form-detail" action="#" method="post" id="myform">
          <div class="form-left">
             <div>
          <img src="/assets/images/college students-pana.png" alt="thesis-pana" class="imgForm">
             </div>
          </div>     
          <div class="form-right">
              <h2>Contact Details</h2>
              <!-- email field-->
              <div class="form-row">
                  <input matInput placeholder="Your Email" name="email" [(ngModel)]="loginData.email" required>
              </div>

              <div class="form-row">
                  <input matInput type="password" placeholder="Password"  name="password" required [(ngModel)]="loginData.password">
              </div>
              <div class="form-row-last">
                  <input type="submit" name="register" class="register" value="Register" mat-raised-button>
              </div>
          </div>
      </form>
  </div>
</div>