<link rel='stylesheet' href='https://static.fontawesome.com/css/fontawesome-app.css'>
<div class="container py-5">
  <div class="row justify-content-center">
    
    <h1 class="title" >Enhancing Student Lives</h1>
    <div class="col-12 col-lg-4">
      <div class="card box-shadow mx-auto my-5" style="width: 18rem;">
        <img src="/assets/images/happyStudent.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Student Well-being</h5>
          <hr>
          <p class="card-text">Ensure students have easy access to essential services and resources to enhance their well-being</p>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-lg-4">
      <div class="card box-shadow my-5 mx-auto" style="width: 18rem;">
        <img src="/assets/images/Community-amico.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Community Engagement</h5>
          <hr>
          <p class="card-text">acilitate connections by promoting local offers, campaigns, and opportunities for students.</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card box-shadow mx-auto my-5" style="width: 18rem;">
        <img src="/assets/images/Humanitarian Help-amico.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Aid Distribution</h5>
          <hr>
          <p class="card-text">Efficiently categorize and distribute aid based on cities, promoting a sense of community support.</p>
        </div>
      </div>

    </div>

    <h1 class="title">Facilitating Social Impact</h1>
    
    <div class="col-12 col-lg-4">
        <div class="card box-shadow mx-auto my-5" style="width: 18rem;">
          <img src="/assets/images/Ecommerce campaign-cuate.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Campaign Support</h5>
            <hr>
            <p class="card-text">Highlight and support ongoing campaigns, fostering a culture of generosity among donors</p>
          </div>
            </div>
  
      </div>

      <div class="col-12 col-lg-4">
        <div class="card box-shadow mx-auto my-5" style="width: 18rem;">
          <img src="/assets/images/Helping a partner-bro.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Community Building</h5>
            <hr>
            <p class="card-text">Establish a community through donor testimonials and a discussion forum, encouraging shared values.</p>
          </div>
            </div>
  
      </div>
    
      <div class="col-12 col-lg-4">
        <div class="card box-shadow mx-auto my-5" style="width: 18rem;">
          <img src="/assets/images/Charity market-bro.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Transparency</h5>
            <hr>
            <p class="card-text"> Provide donors with a clear overview of their contributions and the impact of their donations.</p>
          </div>
            </div>
  
      </div>

      <h1 class="title">Empowering Businesses for Social Good</h1>


      <div class="col-12 col-lg-4">
        <div class="card box-shadow mx-auto my-5" style="width: 18rem;">
          <img src="/assets/images/Company-amico.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Social Responsibility</h5>
            <hr>
            <p class="card-text">Encourage businesses to participate in social initiatives by offering tools for effective engagement and simple registration.</p>
          </div>
            </div>
  
      </div>

      <div class="col-12 col-lg-4">
        <div class="card box-shadow mx-auto my-5" style="width: 18rem;">
          <img src="/assets/images/Catering service-bro.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Empowering Events</h5>
            <hr>
            <p class="card-text">Facilitate businesses in organizing and managing events/offers, ensuring seamless coordination and post-event analysis.</p>
          </div>
            </div>
  
      </div>

      <div class="col-12 col-lg-4">
        <div class="card box-shadow mx-auto my-5" style="width: 18rem;">
          <img src="/assets/images/Business Plan-amico.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Data-Driven Impact</h5>
            <hr>
            <p class="card-text">Provide businesses with insights into volunteer engagement, donation trends, and event effectiveness.</p>
          </div>
            </div>
  
      </div>

  </div>
</div>